<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do | Home</title>
</head>
<body>

    {% if user.is_authenticated %}
        Logged in as {{ user.username }} <br>
         <form action="{% url 'user_logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit">Logout</button>
         </form>
    {% else %}
        <a href="{% url 'user_sign_up' %}">Sign Up</a>
        <a href="{% url 'user_login' %}">Login</a>

    {% endif %}

    {% block content %} {% endblock %}
</body>
</html>